# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: generic

os: osx

env:
  matrix:
    
    - CONDA_PY=27
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "pmR26sEZt9v1ocivb7sltpjz9p4Tg1ZBcLS+qkhMR1bhFXI6KTC46HoFdcjkOX7ko++uEs1miO/bhQww/9/uNqi+iFKMFULOswxgRQft7WVzGRe2y1hbKDcYf9pGVPmwi/U1ZUeQZk9ikULtBFuJdxqx7vMMRQITixQ3adFFDiXJQyr1BU2AngXSJ45P8nCFRjdEw44lu1AV0+Y+wiMFvmREBMM7xh6ZqsbilVTSX4wBn57En532f5CEKEl8kCbVfmDh41P/xhcMCehxni/CtXFFbirP0wUcOUQ3z0pbNOU/5f6GWLMzxPC/sv9ktnftSxIbudYv95FixIDRe4f8MQjxS3dfnibj6vnriA0OlalwokblI7LtwphPuYQH2UsAk/3Fk6I4Mrgk5gnn3m12o8m66DnJ5V5VMYvU9hM/3h4sCulQ67UiyW7e74aXrdhh53/F6wlnNCIceSLDMNwNZatWFJGtT3IUKHk56dvC4I7jq+6iO6P6zFqFgki2PDKBOvoyVBnY+/FGpTM+TBV6dAUGF+iQJBY7QsMEsETeJpN6vSqSSvJC0W3ixIu3ixqpqqY5eiyFFD/1cprlDjzIcA3MlkKwGfR/GG8Ti2zEnECgty105A6gm+1S35CY8vmdapomg3AdM1U9z2vgk2n73ISUjfX6o4Po73WRzXPtgF8="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
